
.header{
    top: 0;
    right: 0px;
    left: 0px;
    background-color: white;
    position: fixed;
    height: 75px;
    z-index: 100;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 2px solid rgb(10, 3, 140);
}

.leftSect{
   display: flex;
width: 400px;


}
.menu-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 25px;
}


.menu-logo{
    
    height: 60px;

}
.tit-container{
margin-left: 70px;
display: flex;
align-items: center;
 


}
.titulo-logo{
   
    height: 122px;
    margin-top: 20px;
    margin-bottom: 5px;


}
.header-link {
    display: inline-block;
   z-index: 90;
    margin-bottom: 0px;

    cursor: pointer;
    text-decoration: none;
    
  }
.middleSect{
    min-width: 200px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 800px;
    column-gap: 20px;
}

.about-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
width: 230px;
}
.catalogo{
    display: flex;
    align-items: center;
    justify-content: center;
   

width: 230px;
}
.locales{
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 230px;
}

.but-containerSN{
    height: 35px;
    background-color: rgb(255, 255, 255);
    width: 150px;
    display: flex;
    align-items: center;
    border: 1px solid rgb(10, 3, 140);
    border-radius: 20px;
    justify-content: center;
    color:rgb(10, 3, 140);
    font-size: 16px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;


    transition: background-color 0.15s,
    color 0.15s;
}
.but-container,a{

    text-decoration: none;
}
.but-containerSN:hover{
    background-color:   rgb(10, 3, 140);
    
    color: white;
    cursor: pointer;
}




.rightSect{
    display: flex;
    background-color:white;
    width: 400px;
    
}
.cart-container{
    margin-right: 50px;
    margin-left: 50px;
    display: flex;
    align-items: center;

}
.cart-img{
height: 50px;
}
.noti-amount{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18px;
    height: 18px;
    padding: 2px;
    margin-bottom: 0;
    background-color:  rgb(10, 3, 140);
   border-radius: 12px; color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 14px;
}

.log-container{
display: flex;
align-items: center;
justify-content: center;
width: 230px;


}

.but-container {
    height: 35px;
    background-color: rgb(255, 255, 255);
    width: 100px;
    display: flex;
    align-items: center;
    border: 1px solid rgb(10, 3, 140);
    border-radius: 20px;
    justify-content: center;
    color:rgb(10, 3, 140);
    font-size: 16px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;


    transition: background-color 0.15s,
    color 0.15s;
}
.but-container:hover{
    background-color:   rgb(10, 3, 140);
   
    color: white;
    cursor: pointer;
}

